<% provide(:title, "Esittely") %>

<h1>Esittely</h1>
<p>
  <%= image_tag("pohjist.png", :alt => "Tallin pohjapiirros") %>
</p>

<p>
  <%= image_tag("tallialuet.png", :alt => "Tallialueen pohjapiirros") %>
</p>