<div class="row small-up-1">
	<div class="column column-block">
		<div class="otsikko-wrapper">
			<div class="otsikko-kuva">
				<%= link_to image_tag("heppakuva.jpg", alt: "Heppakuvalinkkijee"),
				'#' %>
				<h1>Talli jeejeekrokotiili</h1>
			</div>
		</div>
	</div>
</div>